html {
    margin: 0;
  }
  
  span {
    display: block;
  }
    
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }
  
  #grey {
    background: grey;
  }
  
  #green {
    background: rgb(28, 206, 63);
  }
  #blue {
    background: blue;
  }
  #yellow {
    background: yellow;
  }
  